body {
	color: #918a8a;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}
a.meta-info {
	color: #918a8a;
	text-decoration: none;
	margin-bottom: 10px;
    display: inline-block;
	font-size: 15px;
}
a.meta-info i.fas {
	color: #F59237;
	margin-right: 10px;
	display: inline-block;
}
a.meta-info span {
	margin-right: 18px;
}
.section-padding {
	padding: 80px 0;
}
.section-title {
    text-align: center;
	margin-bottom: 40px;
}

.section-title h2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.section-title h2:before,.section-title h2:after {
    position: absolute;
    height: 3px;
    width: 60px;
    content: "";
    background: #F59253;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.section-title h2:after {
    background: #333;
    width: 20px;
    margin-left: -10px;
}
.service-bg.bg-1 {
    background-image: url(assets/img/bg1.jpg);
}

.service-bg.bg-2 {
    background-image: url(assets/img/bg2.jpg);
}

.service-bg.bg-3 {
    background-image: url(assets/img/bg3.jpg);
}

.service-bg {
    background-position: center;
    background-size: cover;
    height: 198px;
	border: 1px solid #F59237;
}

.blog-content {
	border: 1px solid #ddd;
    border-top: transparent;
	padding: 25px;
	transition: all ease .3s;
}
.blog-content h4 {
    font-size: 20px;
    margin: 12px 0;
}
a.text-btn {
    color: #fff;
    background: #ff8f17;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 25px;
    display: inline-block;
	transition: all ease .3s;
}
a.text-btn:hover {
	background: #333;
	color: #fff;
}
.blog-service:hover .blog-content {
	border-color:#F59237;
}